
<div class="container user-list">

<div class="row">
      <div class="col-md-12">
            <button type="button" class="btn btn-primary float-right" 
             (click)="addNewUser()" *ngIf="!editableMode">Add User</button>
      </div> 
</div>
<div class="row" *ngIf="editableMode">
      <div class="col-md-12">
           <h3> New User </h3>
      </div>
      <div class="col-md-12">
                  <form #userform="ngForm" novalidate>
                        <div class="form-row">
                              <div class="form-group col-md-6">
                              <label for="firstname" class="control-label">First Name:</label>
                              <input type="text" id="firstname" #firstName="ngModel" class="form-control" name="firstName"
                               [(ngModel)]="selectedUser.firstName" required/>
                               <div class="invalid-feedback d-block" *ngIf="firstName.invalid && firstName.touched">
                                     First Name is Required</div>
                             </div>
                          
                             <div class="form-group col-md-6">
                                 <label for="lastname">Last Name:</label>
                                 <input type="text" id="lastname" class="form-control" name="lastName" 
                                 [(ngModel)]="selectedUser.lastName" #lastName="ngModel" />
                              </div>
                        </div>
                        <div class="form-row">
                              <div class="form-group col-md-6">
                                          <label for="role">User Role</label>
                                          <select class="form-control" name="userRole" id="role" 
                                          [(ngModel)]="selectedUser.roles[0]" #userRole="ngModel" required>
                                            <option value="">--Select Role--</option>
                                            <option *ngFor="let role of userRoles" [ngValue]="role">{{role.role}}</option>
                                          </select>
                                          <div class="invalid-feedback d-block" *ngIf="userRole.invalid && userRole.touched">User Role is Required</div>
                              </div>
                              <div class="form-group col-md-6">
                               <label for="lastname">User Name:</label>
                               <input type="text" id="username" class="form-control" name="userName" required 
                               [(ngModel)]="selectedUser.userName" #userName="ngModel"/>
                               <div class="invalid-feedback d-block" *ngIf="userName.invalid && userName.touched">User Name is Required</div>
                            </div>
                             
                         </div>
                         <div class="form-row">     
                             <div class="form-group col-md-6">
                                     <label for="email">E-mail:</label>
                                     <input type="text" id="email" class="form-control" name="email" required 
                                     [(ngModel)]="selectedUser.email" #email="ngModel"/>
                                     <div class="invalid-feedback d-block" *ngIf="email.invalid && email.touched">Email Id is Required</div>
                                  </div>
                                  
                                   <div class="custom-control custom-checkbox col-md-6 d-flex align-items-center">
                                          <input type="checkbox" class="custom-control-input" [(ngModel)]="selectedUser.enabled" id="active" 
                                          #active="ngModel" name="active" checked="checked">
                                          <label class="custom-control-label" for="active">Active</label>
                              </div>
                                   <!-- <div class="form-group col-md-6">
                                                 <label for="organization">Organization</label>
                                                <select class="form-control" name="organization" id="organization" 
                                                [(ngModel)]="selectedUser.organization" #organization="ngModel" required>
                                                  <option value="">--Select Organization--</option>
                                                  <option *ngFor="let org of organizations" [ngValue]="org">{{org.name}}</option>
                                                </select>
                                                <div class="invalid-feedback d-block" *ngIf="organization.invalid && organization.touched">
                                                      Organization is Required
                                     </div> 
                                    </div>-->
                         </div>
                      <div class="form-row"> 
                            <div class="form-group col-md-6">
                                <label for="organization">Organization</label>
                               <select class="form-control" name="organization" id="organization" 
                               [(ngModel)]="selectedUser.companyVO" #organization="ngModel" required>
                                 <option value="">--Select Organization--</option>
                                 <option *ngFor="let org of organizations" [ngValue]="org">{{org.name}}</option>
                               </select>
                               <div class="invalid-feedback d-block" *ngIf="organization.invalid && organization.touched">
                                     Organization is Required
                       </div> 
                   </div>    
                           </div>
                         
                             <div class="col-md-12 text-right button-row">
                                    <button type="button" class="btn btn-primary" 
                                    (click)="saveUser()" [disabled]="userform.invalid">Save</button>

                                    <button type="button" class="btn btn-secondary" 
                                    (click)="cancel()">Cancel</button>
                             </div>
                           </form>
      </div>
</div>


<div class="row">
      
      <div class="col-md-12">
            <table class="table table-hover">
                        
                        <thead>
                              
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Organization</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of users; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.roles[0].role}}</td>
                            <td>{{user.companyVO?.name}}</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
</div>
</div>