<div class="main-header-sm text-center">
    Andon Message Center
  </div>
  <div>
    <div class="SageLogo"><img class="img-fluid" src="assets/images/SageLogo.png"></div>
    <div class="upload-icon">
      <div class="upload-sidebar d-flex justify-content-center align-items-center mt-5 mb-5" data-toggle="modal" data-target="#formModal">
        <i class="fa fa-upload"></i>
      </div>
    </div>
    <div class="left-summary text-center">
      <div class="left-heading">Company Logo</div>
    </div>
</div>