<div class="main-header-sm text-center">
    Andon Message Center
</div>
<div>
  <div class="SageLogo"><img class="img-fluid" src="assets/images/SageLogo.png"></div>
  <div class="phone-icon">
    <div class="phone-sidebar"><div class="phone-side-inner"></div></div>
  </div>
  <div class="left-summary text-center">
    <div class="left-heading">Summary</div>
    <div class="sidebar-tickets"><p class="ticket-heading">Open Andon Tickets </p><p class="tickets-count">4</p></div>
    <div class="sidebar-issues"><p class="issue-heading">Average Open Issue Time </p><p class="issue-time">67 days</p></div>
  </div>
</div>