<div class="box-content">
      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>
</div>
    
<div class="box-content">
      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>
</div>

<div class="box-content">
      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

      <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>
</div>

<div class="box-content">
  <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

  <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

  <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>
</div>

<div class="box-content">
  <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>

  <div class="box-style" style="background:#DC143C"><div class="header-part"><div class="left-text"> Line 2<br> Good Catch<p>2018-06-01</p></div></div><div class="middle-part"><div class="middle-inner"><h1>67 <p>days</p></h1></div></div><div class="footer-part"><p>Request Made</p><p>Guard door broken <img height="17px" width="17px" src="./resources/images/edit-icon-white.png"></p></div></div>
</div>
