.center-div
{  
	margin: auto;
	height: 100vh;
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.center-div .logo-img {
	width:40%;
}
.center-div .inner-form {
	 border: 1px solid #007bff;
	 padding: 15px;
	 margin-top: 50px;
	 border-radius: 5px;
}
.center-div .form-group.error-group {
   margin-bottom: 0 !important;
    height: 80px;
} 
.center-div .invalid-feedback {
	    text-align: right;
}