/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
html,body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
}
.btn-primary, .btn-primary:hover, .btn-primary:focus  {
  background-color: #800F82 !important;
  box-shadow: none !important;
  border: none !important;
}
table td, table th {
  padding: 0.3rem !important;
}
table.prediction-table td, table.prediction-table th {
  padding: 0.2rem !important;
}
td .fa-search {
  cursor: pointer;
}
.prediction-error td .fa-search {
  cursor: not-allowed;
}
table th.no-header {
  background: #fff;
    border: none;
}
.login-page .logo {
  text-align: center;
}
.login-page .logo img {
  height: 100px;
  width: auto;
}
.login-panel {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  opacity: 1;
  padding: 1rem;
}
/*div[class^="col-"] {
  float: left;
}*/
.left-panel {
  background-color: #fff;
  box-shadow: 5px 0 20px 5px rgba(184,184,184,0.2);
  padding: 0; 
}
.SageLogo {
  padding: 0 3rem;
}

.upload-sidebar {
  /*text-align: center;*/
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 10px auto;
  border: 1px dashed #800F82;
  color: #800F82;
  cursor: pointer;
}
.upload-sidebar i {
  font-size: 2rem;
}
.left-summary {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.left-summary div {
  padding: 1rem 0;
}
.left-summary div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.left-heading {
  font-size: 16px;
  font-weight: bold;
}

.main-panel {
  padding: 0;
}
.main-panel h5 {
  color:#800F82;
}
.main-header-lg {
  height: 42px;
}
.main-content {
  flex: 1;
  border: 1px solid #EFEFEF;
  padding: 1rem;
  overflow-y: auto;
}
.main-content .content-inner {
  flex:1;
  overflow-y: auto;
}
.main-content table thead {
  background-color:#800F82;
  color: #fff;
}
.box-content {
  /*min-width: 30%;*/
  overflow-y: hidden;
  padding: 0 7px;
  display: inline-block;
  height: calc(100vh - 130px);
}
.box-content:hover {
  overflow-y: auto;
  padding: 0 1px 0 7px;
}
.main-footer {
 height: 40px; 
}


/* Status CSS */

.status_panel {
 padding:5px 10px;
}
.status_panel .status_dot {
 margin: 0 10px;
 font-size: 14px;
}
.status_panel-phone .status_dot {
 margin: 0 10px;
 font-size: 10px;
}
.status_panel .status_dot:before {
 content: "";
 background: #ccc;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.status_panel-phone .status_dot:before {
 content: "";
 background: #ccc;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.status_dot.orange:before {
 background: #ffa500!important;
}
.status_dot.red:before {
 background: #ff0000!important;
}
.status_dot.yellow:before {
 background: #ffff00!important;
}
.status_dot.green:before {
 background: #00ff00!important;
}
tr.prediction-uploaded td.status {
  background: #ffa500!important;
}
tr.prediction-progress td.status {
  background: #ffff00!important;
}
tr.prediction-completed td.status {
  background: #00ff00!important;
}
tr.prediction-error td.status {
  background: #ff0000!important;
}

td.predict-yellow {
  background: #ffff00!important;
}
td.predict-red {
  background: #ff0000!important;
}
td.predict-green {
  background: #00ff00!important;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}

.main-header-sm {
  display: none;
  height: 50px;
  padding-top: 10px;
}

.content-two, .content-three, .status-two {
  display: none;
}
.modal-body {
  padding: 3rem;
}

@media(max-width : 1024px) {
  .full-height-row {
    height: calc(100% - 70px) !important;
  }
  .main-header-sm {
    display: block;
  }
  .main-header-lg {
    display: none;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    max-width: unset;
    flex: auto;
  }
  .main-content {
    display: flex;
    overflow: auto;
    height: calc(100vh - 210px);
  }
  .box-content {
    overflow: visible;
    height: auto;
  }
  .box-content:hover {
    overflow: visible;
    padding: 0 7px;
  }
  .box-style {
    width: calc(100vw - 40px);
    position: relative;
        height: 125px;
  }
  .box-style .header-part {
    flex: 0;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 5px;
  }
  .box-style .middle-part {
    position: absolute;
    right: 30px;
    top: 3px;
  }
  .box-style .footer-part {
    text-align: left;
    padding-left: 5px;
  }
  .box-style .footer-part p {
    text-align: left;
    margin: 0;
  }
  .left-panel {
    display: block !important;
  }
  .SageLogo {
    width: 70%;
    float: right;
    max-height: 100px;
  }
  .SageLogo img {
    max-height: 100px;
    float: right;
  }
  .phone-icon {
    width: 30%;
    float: left;
    height: 50%;
  }
  .phone-sidebar {
    width: 70px;
    margin: 10px;
  }
  .phone-side-inner {
    width: 54px;
    height: 54px;
    background-size: 50%;
  }
  .left-summary {
    clear: both;
    /*padding-top: 15px;*/
  }
  .left-summary .left-heading {
    display: none;
  }
  .left-summary div {
    padding: 0;
  }
  .sidebar-tickets p, .sidebar-issues p {
    display: inline-block;
    width: 50%;
  }
  .main-footer {
    /*display: none;*/
  }
}





/* user-list custom CSS */

.user-list .row {
   margin-bottom: 1rem;
}
.button-row button {
	margin: 0 0.5rem;
}
.user-list .custom-control-label {
	left:26px;
}
.user-list h3 {
	    border-bottom: 1px solid #1360b3;
    padding-bottom: 5px;
    margin-bottom: 1.5rem;
    color: #1360b3;
}
.user-list .table thead th {
	background-color: #007bff;
	color: #fff;
}

.list-icons{
  font-size:25px !important;
}

.mr-lt-20{
  margin-left:20px !important;
}

  