<h2>Profile</h2>
<p> 
    Good tools make application development quicker and easier to maintain than if you did everything 
    by hand.The Angular CLI is a command line interface tool that can create a project, add files,
    and perform a variety of ongoing development tasks such as testing, bundling, and deployment.
</p>
<p>
        The goal in this guide is to build and run a simple Angular application in TypeScript, using the
        Angular CLI while adhering to the Style Guide recommendations that benefit every Angular project.
</p>

<div class="line"></div>
