<div class="h-100 d-flex flex-column">
            <div class="row content-inner">
              <div class="col-12">
                <input type="file" name="" placeholder="Upload file">
                <button class="btn btn-primary" type="submit">Upload</button>
              </div>
              <div class="col-12">
                <h5 class="mt-3 text-center">Production Schedules</h5>
              </div>
              <div class="col-12 table-responsive mt-1">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Uploaded By</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="prediction-uploaded">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 1</td>
                        <td>22/07/2018 7:00 am</td>
                        <td>User 3</td>
                        <td class="status">Uploaded</td>
                      </tr>
                      <tr class="prediction-progress">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 2</td>
                        <td>15/07/2018 7:00 am</td>
                        <td>User 5</td>
                        <td class="status">Predictions In Progress</td>
                      </tr>
                      <tr class="prediction-error">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 3</td>
                        <td>22/07/2018 7:00 am</td>
                        <td>User 44</td>
                        <td class="status">Error</td>
                      </tr>
                      <tr class="prediction-completed">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 4</td>
                        <td>22/07/2018 7:00 am</td>
                        <td>User 22</td>
                        <td class="status">Predictions Made</td>
                      </tr>
                      <tr class="prediction-uploaded">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 5</td>
                        <td>22/07/2018 7:00 am</td>
                        <td>User 251</td>
                        <td class="status">Uploaded</td>
                      </tr>
                      <tr class="prediction-progress">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 6</td>
                        <td>22/07/2018 7:00 am</td>
                        <td>User 43</td>
                        <td class="status">Predictions In Progress </td>
                      </tr>
                      <tr class="prediction-completed">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 7</td>
                        <td>22/07/2018 7:00 am</td>
                        <td>User 56</td>
                        <td class="status">Predictions Made</td>
                      </tr>
                      <tr class="prediction-uploaded">
                        <td scope="row"><i class="fas fa-search"></i></td>
                        <td>Production Schedule 8</td>
                        <td>22/07/2018 7:00 am</td>
                        <td>User 1</td>
                        <td class="status">Uploaded</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="main-footer text-center border-top">
                <div class="status_panel status-one">
                    <span class="status_dot orange">Uploaded</span>
                    <span class="status_dot yellow">Predictions In Progress</span>
                    <span class="status_dot green">Predictions Made</span>
                    <span class="status_dot red">Error</span>
                </div>
            </div>
          
          </div>