<strong>PredictABLE</strong>

 <!-- <button class="btn btn-primary" (click)='logout()'>Logout</button>
<button class="btn btn-primary" [routerLink]="['/dashboard','user']">Users</button>-->
<button class="btn btn-primary" [routerLink]="['/configuration']">Configuration</button> 

<!-- <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" 
        routerLinkActive="active" (click)='logout()' href="#">Logout</a>
        <a class="flex-sm-fill text-sm-center nav-link" 
        routerLinkActive="active" [routerLink]="['/dashboard','users']">Users</a>
</nav> -->
