<p-toast [style]="{marginTop: '80px'}" life="1000"></p-toast>
<div class="container user-list">

    <div class="row">
          <div class="col-md-12">
                <button type="button" class="btn btn-primary float-right" 
                 (click)="addNewLine()" *ngIf="!editableMode">Add Line</button>
          </div> 
    </div>
    <div class="row" *ngIf="editableMode">
          <div class="col-md-12">
               <h3><span *ngIf="!selectedLine.id">New</span> <span *ngIf="selectedLine.id">Edit</span> Line </h3>
          </div>
          <div class="col-md-12">
                    <form #lineform="ngForm" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name" class="control-label">Name:</label>
                                    <input type="text" id="name" #lineName="ngModel" class="form-control" name="name"
                                    [(ngModel)]="selectedLine.name" required/>
                                    <div class="invalid-feedback d-block" *ngIf="lineName.invalid && lineName.touched">
                                            Name is Required
                                    </div>
                                </div>
                              
                                <div class="form-group col-md-6" *ngIf="isSuperAdmin">
                                        <label for="orgnization">Orgnization</label>
                                        <select class="form-control" name="orgnization" id="orgnization" 
                                            [(ngModel)]="selectedLine.companyId" #lineOrgnization="ngModel" required>
                                            <option value="">--Select Orgnization--</option>
                                            <option *ngFor="let org of orgnizations" [ngValue]="org.id">{{org.name}}</option>
                                        </select>
                                        <div class="invalid-feedback d-block" *ngIf="lineOrgnization.invalid && lineOrgnization.touched">Please select company</div>
                                    </div>
                            </div>
                            <!-- <input type="hidden" id="orgid" *ngIf="!isSuperAdmin"  name="orgid" [value]="userOrgnizationId"/> -->
                             
                            <div class="col-md-12 text-right button-row">
                                        <button type="button" class="btn btn-primary" 
                                        (click)="saveLine()" [disabled]="lineform.invalid">Save</button>
    
                                        <button type="button" class="btn btn-secondary" 
                                        (click)="cancel()">Cancel</button>
                            </div>
                    </form>
          </div>
    </div>
    
    <p-table [value]="lines" [paginator]="true" [rows]="8" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
                <tr>
                    <td>{{line.name}}</td>
                    <td>
                        <button pButton icon="fa fa-edit" (click)="editLine(line)"></button> 
                        <button pButton icon="fa fa-trash-o" (click)="deleteLine(line.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>