
<div class="container user-list">

    <div class="row">
          <div class="col-md-12">
                <button type="button" class="btn btn-primary float-right" 
                 (click)="addNewProduct()" *ngIf="!editableMode">Add Product</button>
          </div> 
    </div>
    <div class="row" *ngIf="editableMode">
          <div class="col-md-12">
               <h3><span *ngIf="!selectedProduct.id">New</span> <span *ngIf="selectedProduct.id">Edit</span> Product </h3>
          </div>
          <div class="col-md-12">
                    <form #productform="ngForm" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name" class="control-label">Name:</label>
                                    <input type="text" id="name" #productName="ngModel" class="form-control" name="name"
                                    [(ngModel)]="selectedProduct.name" required/>
                                    <div class="invalid-feedback d-block" *ngIf="productName.invalid && productName.touched">
                                            Name is Required
                                    </div>
                                </div>
                              
                                <div class="form-group col-md-6">
                                        <label for="attributes" class="control-label">Attributes:</label>
                                        <input type="text" id="attributes" #productAttr="ngModel" class="form-control" name="attributes"
                                        [(ngModel)]="selectedProduct.attributes" required/>
                                        <div class="invalid-feedback d-block" *ngIf="productAttr.invalid && productAttr.touched">
                                                Attributes is Required
                                        </div>
                                </div>
                            </div>
                            <div class="form-row" *ngIf="isSuperAdmin">
                                    <div class="form-group col-md-6">
                                        <label for="orgnization">Orgnization</label>
                                        <select class="form-control" name="orgnization" id="orgnization" 
                                            [(ngModel)]="selectedProduct.organizationId" #productOrgnization="ngModel" required>
                                            <option value="">--Select Orgnization--</option>
                                            <option *ngFor="let org of orgnaizations" [ngValue]="org.id">{{org.name}}</option>
                                        </select>
                                        <div class="invalid-feedback d-block" *ngIf="productOrgnization.invalid && productOrgnization.touched">Please select company</div>
                                    </div>
                            </div>

                            <!-- <input type="hidden" id="orgid" *ngIf="!isSuperAdmin"  name="orgid" [value]="userOrgnizationId"/> -->
                             
                             
                            <div class="col-md-12 text-right button-row">
                                        <button type="button" class="btn btn-primary" 
                                        (click)="saveProduct()" [disabled]="productform.invalid">Save</button>
    
                                        <button type="button" class="btn btn-secondary" 
                                        (click)="cancel()">Cancel</button>
                            </div>
                    </form>
          </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>     
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Attributes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                      <tr *ngFor="let product of products; let i = index">
                         <th scope="row">{{i+1}}</th>
                        <td>{{product.name}}</td>
                         <td>{{product.attributes}}</td>
                         <td><span class="fa fa-edit list-icons" (click)="editProduct(product)"></span> <span class="fa fa-trash list-icons mr-lt-20" (click)="deleteProduct()"></span></td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>